
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to my app!</h1>
<p>Sign up below</p>
    <div class="well"><p><a class="btn btn-primary btn-lg">Learn more</a></p></div>
  </div>
</div>




